@import url("https://fonts.googleapis.com/css2?family=Galindo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Goblin One", cursive;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  background-color: #000006;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .txt1 {
    color: #ffffff;
    font-size: 3rem;
    font-family: "Galindo", cursive;
    text-shadow: 1px 1px 30px #ffffff;
  }

  .txt2 {
    color: #5abdff;
    font-size: 3rem;
    font-family: "Train One", cursive;
    text-shadow: 1px 1px 30px #5abdff;
  }
}

.search_container {
  display: flex;
  justify-content: center;
  background-color: #111;
  padding: 0.5rem;
  z-index: 999;

  form {
    display: flex;

    .search_input_container {
      position: relative;

      input {
        width: 100%;
        max-width: 400px;
        padding: 5px 20px;
        border: none;
        outline: none;
        border-radius: 4px 0px 0px 4px;
      }

      .options_list_container {
        position: absolute;
        z-index: 999;
        right: 0;
        left: 0;
        background-color: #fff;
        border-radius: 5px;

        ul {
          list-style: none;
          display: grid;
          
          li {
            cursor: pointer;
            border-bottom: 1px solid #999;
            padding: 10px;
            transition: .3s;
          }

          li:hover {
            background-color: #5abdff;
          }
        }
      }
  
    }

    button {
      padding: 0.3rem;
      cursor: pointer;
      background: #fff;
      border-radius: 0px 4px 4px 0px;
    }
  }
}

.lyric_result_container {
  margin: auto;
  position: relative;
  padding: 1rem;
  max-width: 1200px;
  width: 98%;
  border-radius: 5px;
  margin-top: 2rem;
  box-shadow: 1px 1px 5px #222;
  background: #eeeeee;
  margin-bottom: 2rem;
  display: none;

  .lyrics-container {
    margin-top: 3rem;

    .audio_container {
      position: absolute;
      top: 10px;
      right: 10px;


      button {
        padding: 15px;
        box-shadow: 0px 0px 3px #222;
        border-radius: 50%;
        cursor: pointer;

        i {
          font-size: 15px;
        }
      }
    }

    .lyrics_div {
      display: flex;
      gap: 2rem;
      justify-content: center;

      div {
        .title {
          margin-bottom: 2rem;
          font-size: 1.4rem;
        }
      }
    }
  }
}

.result_container {
  position: relative;
  padding: 1rem;
  margin: auto;
  max-width: 1200px;
  width: 98%;
  border-radius: 5px;
  margin-top: 2rem;
  box-shadow: 1px 1px 5px #222;
  background: #eeeeee;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;

  .card {
    background: #fff;
    box-shadow: 0px 0px 6px #333;
    border-radius: 4px;
    max-width: 400px;
    flex: 1 1 25%;
    cursor: pointer;
    transition: 0.2s;
    position: relative;

    .card-image img {
      width: 100%;
      border-radius: 4px 4px 0px 0px;
    }

    .card-title {
      padding: 0.5rem 0;
    }

    .card-loader {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);

      div {
        display: flex;
      }
    }
  }

  .card:hover {
    transform: scale(1.01);
  }
}

.tool_tip_container {
  background-color: #f00;
  color: #fff;
  padding: 0.5rem;
  position: fixed;
  border-radius: 3px;
  font-size: 0.8rem;
  right: -999px;
  top: 82px;
  transition: 0.4s;
}

.inactive {
  outline: 3px solid #f00;

  &:after {
    content: "\2715";
    color: #fff;
    background-color: #f00;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px 0px 0px 5px;
    padding: 5px;
  }
}

.spinner {
  aspect-ratio: 1/1;
  border-radius: 50%;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinner--quarter {
  width: var(--width);
  border: calc(var(--width) / 7) solid var(--color);
  border-top-color: transparent;
  animation-duration: 1s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.loader {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
  body {
    font-size: 80%;
  }

  .header {
    .txt1,
    .txt2 {
      font-size: 2rem;
    }
  }

  .card {
    flex: 1 1 45% !important;
  }  

  .lyrics-container .title {
    font-size: 1.2rem !important;
    margin-bottom: 1.5rem !important;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 60%;
  }

  .header {
    .txt1,
    .txt2 {
      font-size: 1.5rem;
    }
  }

  .lyrics_div {
    flex-wrap: wrap !important;
  }

  .lyrics-container .title {
    font-size: 0.8rem !important;
    margin-bottom: 1rem !important;
  }
}
